:root {
  --base-white: #ffffff;
  --base-bg: #f5f5f5;
  --bar-hightlight: #c0c0c0;

  --text-highlight: #ff6900;
  --text-base: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: var(--base-bg);
  width: 100%;
  height: 100%;
  color: var(--text-base);
}

.btn-learn {
  border: none;
  outline: none;
  background-color: var(--text-base);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn-learn:hover {
  background-color: #3e3d3d;
}

/* ......................Nav bar....................... */
nav {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  background-color: var(--base-white);
  letter-spacing: 0.7px;
  position: fixed;
  z-index: 10;
  box-shadow: 0 9px 20px rgba(59, 59, 60, 0.2);
}

nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  height: 100%;
  border-bottom: 2px solid transparent;
  padding: 10px;
  transition: all 0.2s;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  height: 100%;
}
.nav-left li img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 12px;
  object-fit: cover;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  height: 100%;
}
.nav-left li:not(:first-child):hover,
.nav-right li:is(:nth-child(1), :nth-child(2)):hover {
  border-bottom: 2px solid var(--text-highlight);
  color: var(--text-highlight);
}

/* ..........Header........... */
header {
  width: 100%;
  height: 90vh;
  background-color: #fff;
  padding: 7% 3rem 1rem 5%;
  position: relative;
}
.header-wrapper {
  display: flex;
}
.header-left {
  flex-basis: 30%;
  text-align: left;
  color: var(--text-base);
  margin: auto 0;
  padding: 5% 0 6% 7%;
}
.header-left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.header-left p {
  font-size: 1.1rem;
  font-weight: 500;
}
.header-left button {
  margin-top: 4rem;
}
.header-right {
  flex-basis: 30%;
  position: relative;
  margin: 0 0 0 auto;
}
.header-img {
  width: 35rem;
  height: 22rem;
  object-fit: cover;
}
.headerimg-text {
  position: absolute;
  bottom: 0%;
  right: 50%;
  font-size: 0.5rem;
  color: #838383;
}
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 3rem;
}
.header-bar {
  width: 6rem;
  height: 1.5px;
  background-color: var(--bar-hightlight);
}
.header-page-btn {
  width: 90%;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background-color: #c5c5c5;
  color: #fff;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
header:hover .header-page-btn {
  opacity: 1;
}

/* ...................feature section............. */
#features {
  padding: 7% 4% 0;
  position: relative;
}
#features h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}
#features ul {
  list-style-type: none;
  height: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  font-size: 1rem;
  font-weight: 400;
}
#features ul li {
  height: 100%;
  cursor: pointer;
}
.featured-li-active {
  font-weight: 600;
  border-bottom: 2px solid var(--text-highlight);
  color: var(--text-highlight);
}
.featured-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
}
.featured-top {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.ft-content-img {
  flex-basis: 50%;
  width: 100%;
  height: 20rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.featured-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.ft-content-text {
  flex-basis: 50%;
  width: 100%;
  height: 20rem;
  background-color: var(--base-bg);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-base);
}

.ft-content-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.ft-content-text p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.btn-learn2 {
  padding: 6px 20px;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.3s ease-out;
}

.featured-bottom {
  display: flex;
  gap: 1.5rem;
  position: relative;
}
.featured-btm-items {
  position: relative;
  flex-basis: 25%;
  padding: 1rem 2rem 3rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.featured-btm-items img {
  width: 9rem;
  height: 9rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.featured-btm-items h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.featured-btm-items span p {
  display: inline;
  margin-right: 5px;
}
.featured-btm-items span p:first-child {
  font-size: 1.1rem;
  font-weight: 500;
}
.price-text {
  font-size: 1.2rem;
  font-weight: 800;
}
.og-price-text {
  font-size: 1rem;
  color: #c0c0c0;
  text-decoration: line-through;
}
.featured-btm-items button {
  position: absolute;
  bottom: 15%;
  transition: all 0.3s;
}
.featured-top:hover .ft-content-img img {
  transform: scale(1.1);
}
.featured-top:hover .ft-content-text .btn-learn2 {
  opacity: 1;
  transform: translateY(0);
}
.featured-btm-items:hover .btn-learn2 {
  opacity: 1;
  bottom: 28%;
}
.featured-btm-items:hover span p {
  opacity: 0;
}
.featured-btm-items:hover img {
  transform: scale(1.05);
}
/* ..................offer section.................... */
#offer {
  position: relative;
  margin-top: 4rem;
  padding: 1% 4%;
}
#offer h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--text-base);
  margin-bottom: 3rem;
}
.offer-contents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.offer-content {
  background-color: var(--base-white);
  border-radius: 10px;
  padding: 1rem;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  height: 24rem;
}
.offer-img-part {
  position: relative;
  width: 100%;
  height: 16rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  overflow: hidden;
}
.offer-img-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.offer-text-part {
  text-align: center;
  position: relative;
}
.offer-text-part h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.offer-text-part p {
  font-size: 1rem;
  transition: all 0.2s;
}
.offer-text-part button {
  margin-top: 1rem;
  position: absolute;
  top: 100%;
  left: 30%;
  transition: all 0.2s;
  opacity: 1;
}
.section-page-btn {
  z-index: 2;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 2%;
  right: 2%;
}
.offer-content:hover .offer-text-part p {
  opacity: 0;
}
.offer-content:hover .offer-text-part button {
  opacity: 1;
  top: 0;
}
.offer-content:hover .offer-img-part img {
  transform: scale(1.05);
}
#explore {
  margin-top: 4rem;
  overflow: hidden;
}
#explore h1 {
  font-size: 2rem;
  color: var(--text-base);
  margin-bottom: 3rem;
  text-align: center;
}
.explore-container {
  width: 200%;
  display: flex;
  gap: 1.5rem;
  transform: translateX(-16%);
}
.explore-content {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--base-white);
  display: flex;
  flex-direction: column;
  width: 42rem;
  height: 32rem;
}
.explore-cont-img {
  position: relative;
  overflow: hidden;
  flex-basis: 65%;
  width: 100%;
  height: 100%;
}
.explore-cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.explore-cont-text {
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}
.explore-cont-text p {
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-base);
  margin-bottom: 0.5rem;
}
.explore-cont-text button {
  position: absolute;
  margin: 0 auto;
  opacity: 1;
  top: 50%;
  left: 42%;
}
